body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  background-image: url("./img/mentalist.jpg");
  background-color: #000000;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  font-size: 50px;
  padding: 5px 15px;
}

.page-subtitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}

input {
  margin: 4px;
  padding: 10px;
  border-radius: 5px;
  border: #ffffff solid 3px;
  font-size: 18px;
}

button {
  margin-top: 12px;
  padding: 8px 16px;
  border-radius: 10px;
  background: #daab20;
  color: #ffffff;
  border: #ffffff solid 3px;
  font-size: 18px;
}

.resultado {
  color: #ffffff;
  text-align: center;
  margin-top: 390px;
  font-size: 38px;
  padding: 15px;
}
